{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% block content%}
<div class="content-section">
    <form action="" method="post">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4"><h1>Join Today</h1></legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Sign In</button>
        </div>
    </form>
    <div class="border-top pt-3">
        <small class="text-muted">Need an account?
            <a class="ml-2" href="{% url 'register' %}">Sign Up Now</a>
        </small>
    </div>
</div>
 
{% endblock %}