{% extends 'blog/base.html' %}

{% block content%}

 
    <div class="border-top pt-3">
        <h2>You have successfully been logged out</h2>
        <small class="text-muted">
            <a href="{% url 'login' %}"">Log in again</a>
        </small>
    </div>

 
{% endblock %}