{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% block content%}
<div class="content-section">
    <form action="" method="post">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4"><h1>Reset Password</h1></legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Reset Password</button>
        </div>
    </form>
    
</div>
 
{% endblock %}