{% extends 'blog/base.html' %}

{% block content%}
<h1>test</h1>
     <article class="media content-section">
            <img src="{{ object.author.profile.image.url }}" alt="" class="rounded-circle article-img">
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="{% url 'user-posts' object.author.username %}">{{ object.author }}</a>
                    <small class="text-muted">{{ object.date_posted|date:"D ,d-F-Y" }}</small>
                    {% if object.author == user %}
                    <div class="container">
                        <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' object.id %}">Update</a>
                        <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.id %}">Delete</a>                  </div>
                    </div>
                    {% endif %}
                <h2 class="article-title">{{ object.title }}</h2>
                <p class="article-content">{{ object.content }}</p>
            </div>
        </article>
           
{% endblock %}